.home-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    --mat-list-list-item-one-line-container-height: 10em;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary {
    font-size: 0.9rem;
    color: #666;
}

.reservas-card {
    max-height: 60vh;
    overflow-y: scroll;
}

.empty-card {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 12px;
    color: #777;
}

.list-reservas {
    padding: 0;
}

.empty-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    width: 1em;
    height: 1em;
}

.list-item-reserva:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}